<h2 class="text-center">Créer mon compte </h2>


<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
<%= f.error_notification %>
<div class="container">
  <div class="row">
    <div class= "col-md-8 col-md-offset-2">
      <div class="form-inputs">
        <%= f.input :email, , label: 'Email', required: true, autofocus: true %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :password, , label: 'Mot de passe', autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
        <%= f.input :password_confirmation, , label: 'Confirmer le mot de passe', required: false %>
        <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-6">
          <%= f.input :first_name %>
        </div>
        <div class="col-sm-6">
          <%= f.input :last_name %>
        </div>
      </div>
      <%= f.input :phone_number, label: 'Téléphone', placeholder: "0600000000" %>
      <%= f.input :address, as: :text, label: 'Adresse', placeholder: "2, place de la liberté" %>
      <hr>

      <%= f.input :speciality, label: 'Spécialité', placeholder: "pigiste, jri, photographe..." %>
      <%= f.input :biography, label: 'Biographie', placeholder: "Quel est votre parcours ?" %>
      <%= f.input :siren, label: 'Numéro de SIREN', placeholder: "XXX XXX XXX" %>
      <%= f.input :document_identity %>
      <div class="row">
        <div class="col-sm-6">
          <%= f.input :company_name, label: 'Entreprise', placeholder: "Dénomination sociale"  %>
        </div>
        <div class="col-sm-6">
          <%= f.input :website_url, label: 'Site web', placeholder: "www.votresite.com" %>
        </div>
      </div>
      <%= f.input :sociallink1, label: 'Réseau social 1', placeholder: "https://twitter.com/johndoe" %>
      <%= f.input :sociallink2, label: 'Réseau social 2', placeholder: "https://www.facebook.com/john.doe" %>
      <%= f.input :sociallink3, label: 'Réseau social 3', placeholder: "https://www.linkedin.com/" %>

      <div class="form-actions">
        <%= f.button :submit, "Créer mon profil", class: "btn btn-primary" %>
      </div>
      <% end %>

      <hr>

      <p class="text-center"><%= link_to "< Retour à l'accueil", :back %> | <%= link_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Confirmer la suppression de votre compte ?" }, method: :delete %></p>

    </div>
  </div>
</div>
