
<h1>
  <%= image_tag @user.picture, class: "img-circle" %>

  <%= @user.first_name.capitalize %> <%=@user.last_name.capitalize %>

</h1>


<ul>
  <li>
    <% if @user.speciality.blank? %>
      Fonction : non renseigné
    <% else %>
      Fonction : <%= @user.speciality.upcase %>
    <% end %>
  </li>
  <li>
    <% if @user.company_name.blank? %>
      Agence : non renseigné
    <% else %>
      Agence : <%= @user.company_name.upcase %>
    <% end %>
  </li>
  <li>
    <% if @user.website_url.blank? %>
      Site web : non renseigné
    <% else %>
      Site web : <%= @user.website_url.upcase %>
    <% end %>
  </li>
</ul>


<hr>

<div>
  <h4>Description</h4>
  <h5><%= @user.biography %></h5>
</div>

<hr>

<div>

</div>








