<div class="diving">
  <div class="container-fluid container-signup">
    <div class="row">
      <div class= "col-md-8 col-md-offset-2 form-profile ">
        <div class="text-center frame-picture">
          <%= image_tag @user.picture, class:"user-picture" %>
        </div>
        <h1 class="text-center"> <strong>  <%= @user.first_name.capitalize %> <%=@user.last_name.capitalize %> </strong> </h1>

        <ul class="list-unstyled list-inline text-center">
          <li>
            <% if @user.sociallink1.blank? %>
            <strong>Twitter</strong> : non renseigné
            <% else %>
            <%= link_to @user.sociallink1, target: "_blank" do %>
            <i class="fa fa-twitter fa-lg"></i>
            <% end %>
            <% end %>
          </li>
          <li>
            <% if @user.sociallink2.blank? %>
            <strong>Facebook</strong> : non renseigné
            <% else %>
            <%= link_to @user.sociallink2, target: "_blank" do %>
            <i class="fa fa-facebook fa-lg"></i>
            <% end %>
            <% end %>
          </li>
          <li>
            <% if @user.sociallink3.blank? %>
            <strong>Linkedin</strong> : non renseigné
            <% else %>
            <%= link_to @user.sociallink3, target: "_blank" do %>
            <i class="fa fa-linkedin fa-lg"></i>
            <% end %>
            <% end %>
          </li>
        </ul>
        <br/>
        <div class="text-center">
          <%= link_to "mailto:" + @user.email, class: "btn btn-success btn-lg" do %>
          Envoyer un message
          <% end %>
        </div>
        <br/>
      </div>

      <div class= "col-md-8 col-md-offset-2 form-profile ">
        <div class="text-center">
          <h4><strong>Mon parcours</strong></h4>
          <br/>
          <ul class="list-unstyled list-inline text-center">
            <li>
              <% if @user.speciality.blank? %>
              <strong>Fonction</strong> : non renseigné
              <% else %>
              <strong>Fonction</strong> : <%= @user.speciality.upcase %>
              <% end %>
            </li>
            <li>
              <% if @user.company_name.blank? %>
              <strong>Agence</strong> : non renseigné
              <% else %>
              <strong>Agence</strong> : <%= @user.company_name.upcase %>
              <% end %>
            </li>
            <li>
              <% if @user.website_url.blank? %>
              <strong>Site web</strong> : non renseigné
              <% else %>
              <strong>Site web</strong> : <%= link_to @user.website_url, @user.website_url, target: "_blank" %>
              <% end %>
            </li>
          </ul>
           <div class="col-xs-12 ">

        <h5><%= @user.biography %></h5>
      </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid container-signup">
    <div class= "col-md-8 col-md-offset-2 form-profile-botom ">
      <h4 class="text-center">
        <% if @user == current_user %>
          <strong>Mes articles</strong>
        <% else %>
          <strong>Articles de <%= @user.first_name %> <%=@user.last_name %></strong>
        <% end %>
      </h4>
      <ul id="home-articles" class="list-unstyled">
        <% @user.posts.each do |post| %>
          <li class="col-sm-6">
            <div class="container-cards">
            <%= render 'posts/postuser', post: post %>
            </div>
          </li>

        <% end %>
      </ul>
    </div>
  </div>
</div>












