<nav class="navbar-wagon">
  <div class="container navbar-wagon-container">

    <%= link_to root_path do %>
        <div class="header_logo">
          <%= image_tag "logo_taille_site.png" %>
        </div>
    <% end %>



    <div class="navbar-wagon-pusher"></div>
    <% if user_signed_in? %>
      <%= link_to "#", class: "navbar-wagon-item navbar-wagon-link hidden-xs" do %>
        <div class="icon-badge-container">
          <i class="fa fa-envelope-o"></i>
        </div>
      <% end %>
      <hr>
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= image_tag current_user.picture, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
             <li>
              <%= link_to edit_user_registration_path do %>
                <i class="fa fa-pencil-square-o"></i> <%= t ".profile", default: "Editer mon profil" %>
              <% end %>
            </li>
            <li>
              <%= link_to user_path(current_user) do %>
                <i class="fa fa-user"></i> <%= t ".profile", default: "Mon profil" %>
              <% end %>
            </li>
            <li>
              <%= link_to favs_path do %>
                <i class="fa fa-heart-o"></i>  <%= t ".profile", default: "Mes favoris" %>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path do %>
                <i class="fa fa-plus"></i>  <%= t ".profile", default: "Voir les articles" %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t ".sign_out", default: "Log out" %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "btn btn-success-outline btn-sm" %>
      <%= link_to t(".sign_up", default: "Sign Up"), new_user_registration_path, class: "btn btn-success-outline btn-sm" %>
    <% end %>
    <hr>

    <% if policy(Post).create? %>
    <%= link_to t(".top_call_to_action", default: "Ecrire un article"), new_post_path, class: "btn btn-success btn-primary" %>
    <% end %>
  </div>
</nav>
