<div class="coverhome">
  <div class="coverhome-filter">

    <div class="container">

      <div class="buttonhome">

        <h1>Hello !</h1>

      </div>

      <div class="text-center">



        <div class="bloctwo">
          <%= simple_form_for :search, url: posts_path, method: :get, :html => { :class => 'form-inline' } do |f| %>
          <%= f.input :query, label: false, placeholder: "Taper un titre" %>
          <%= f.submit "Rechercher",  class: "btn btn-default" %>
          <% end %>
        </div>


      </div>

    </div>

  </div>

</div>

<div class="container">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-xs-6 col-md-4">
        <div class="card-filter-home" style="background: url(<%= cloudinary_url post.cover %>); background-size:cover">
          <span><%= post.title %></span>
          <%= link_to post_path(post) do %>
            <div class="card"></div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
