<div class="text-center">
  <h2>Ajoutez votre foodtruck</h2>
</div>
      <%= simple_form_for @user do |f| %>
      <%= f.error_notification %>
      <%= f.input :firs_name %>
      <%= f.input :address %>

      <%= f.input :category, collection: USER::CATEGORIES, selected: User::CATEGORIES.first %>
      <%= f.submit "Créer", class: "btn btn-primary" %>
    <% end %>
<hr>
    <h4>
      <%= link_to '< Retour', :back %>
    </h4>

