<div class="container" id="home-articles">
  <h2>Mes favoris</h2>
  <table class="table table-striped table-hover table-users">
    <thead>
      <tr>
        <th>
          Titre
        </th>
        <th>
          Auteur
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @favs.each do |fav| %>
      <tr>
        <td>
          <%= link_to post_path(fav.post) do %>
          <%= fav.post.title %>
          <% end %>
        </td>
        <td>
          Publié par <%= fav.post.user.first_name %>
          <%= fav.post.user.last_name[0] %>.
        </td>
        <td>
          <%= link_to "Supprimer des favs", fav_path(fav), method: :delete %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>




