  <div class="row">

    <div class= "col-md-8 form-signup">
      <%= simple_form_for @post do |f| %>
      <%= f.error_notification %>
      <%= f.input :title, label: 'Le titre', input_html: { class: "input-lg"} %>
      <%= f.input :content, label: 'Votre article', placeholder: "Tapez ici votre article" %>
      <%= f.input :synopsis, label: 'Le synopsis (300 char. max.)', placeholder: "Tapez ici le synopsis", input_html: { rows: 5} %>
        <h4>
          <%= link_to "< Retour", :back,  class: "btn btn-default"  %>
        </h4>
    </div>


    <div class= "col-md-4 form-signup">
      <%= f.input :cover %>
      <%= cl_image_tag @post.cover, transformation: :t_media_lib_thumb, angle: 340, overlay: "logo-mini-s", effect: "mask", opacity: "50" %>
      <%= f.input :status, label: "Statut de l'article", collection: Post::STATUS, selected: Post::STATUS.first %>
      <%= f.input :category, collection: Post::CATEGORIES, selected: Post::CATEGORIES.first %>
      <%= f.input :city, label: 'Localisation', placeholder: "Ex: Liban, Paris, Montussan" %>
      <%= f.input :licence, label: 'Choisir la licence', collection: Post::LICENCE, selected: Post::LICENCE.first %>
      <%= f.input :price, label: 'Choisir le prix', placeholder: "999" %>
      <%= f.submit "Publier votre article", class: "btn btn-success text-center" %>
      <% end %>
    </div>

  </div>
