<div class="">

    <div class="card-filter-home" style="background: url(<%= cloudinary_url post.cover, angle: 340, overlay: "logo-mini-s", effect: "mask", opacity: "50" %>); background-size:cover">
    </div>
    <div class="card-details">

       <% if policy(post).destroy? %>
        <%= link_to post_path(post), class:'trash-article', data: { confirm: 'Are you sure?' }, method: :delete do %>
          <%= image_tag("delete-btn.png") %>
        <% end %>
      <% end %>

      <%= link_to post_path(post) do %>



        <span class="card-post-cat"><%= post.category %></span>
        <h3><%= post.title %></h3>
        <p class="card-post-author">
          Publié par <%= post.user.first_name %>
          <%= post.user.last_name[0] %>.
        </p>
        <p class="card-post-date">
          <%= l post.user.created_at, format: :short %>
        </p>
      <% end %>
    </div>
      <%= render 'pages/favorites', post: post %>
</div>
