<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-offset">
      <div class="carding">

        <%= cl_image_tag @post.cover, width:"100%", height:"600px" %>

        <h5>publié le <%= @post.date %></h5>

        <!-- <h4><%= @post.city %></h4> -->

        <h1><%= @post.title.upcase %></h1>

        <h4><%= @post.introduction %></h4>

        <div class="contenu">

        <p><%= @post.content %></p>

        </div>

        <hr>

        <div class="synops">
          <h5>
            Catégorie
          </h5>
          <h4>
            <%= @post.category %>
          </h4>
        </div>

        <hr>

        <div class="synops">
          <h5>
            Synopsis
          </h5>
          <h4>
            <%= @post.synopsis %>
          </h4>
        </div>

        <hr>

        <div class="synops">
          <h5>
            Informations relatives
          </h5>

          <p>Nombre de caractères : <%= @post.character_number %></p>

          <p>Prix indiqué : <%= @post.price %> €</p>

          <p>Licence de droit :<%= @post.licence %></p>

          <%= link_to "Acheter l'article", edit_post_path(@post), class:'btn btn-primary btn-sm' %> <%= link_to "Modifier l'article", edit_post_path(@post), class:"btn btn-primary btn-sm" %> <%= link_to "Voir tous les articles", posts_path, class:'btn btn-default btn-sm' %>
          <br/>
        </div>
      </div>
    </div>
  </div>
</div>


