<div id="show-post">
  <div class="container-fluid container-post">
    <div class="row">
      <div class="col-xs-12">
        <%= cl_image_tag @post.cover, :height => 450, :crop => :fill, class: "img-post-header" %>
        <div class="cover-filter"></div>

            <div class="article">
               <div class="tags"> <%= @post.category %></div>
               <h1 class="article-headline"><%= @post.title %></h1>
               <p class="article-meta">Posté le <%= @post.created_at.strftime("%b %d, %Y")%> | Rédaction de <strong> <%= @post.city %> </strong> </p>
               <h4><%= @post.introduction %></h4>
                 <p><%= markdown @post.content %></p>
               <div class="synops">
                <h5>
                  Synopsis
                </h5>
                <h4 class="article-excerpt">
                  <%= @post.synopsis %>
                </h4>
              </div>
              <div class="synops">
                <h5>
                  Informations relatives
                </h5>
                <p>Nombre de caractères : <%= @post.character_number %></p>
                <p>Licence de droit :<%= @post.licence %></p>
                <%= link_to "Acheter l'article", edit_post_path(@post), class:'btn btn-primary btn-sm' %> <%= link_to "Modifier l'article", edit_post_path(@post), class:"btn btn-primary btn-sm" %> <%= link_to "Voir tous les articles", posts_path, class:'btn btn-default btn-sm' %>
              </div>
            <div class="col-md-12">
              <h2>Les photos associées</h2>
              <%= link_to "Add photo", new_post_upload_path(@post), class: "btn btn-default" %>
              <ul class="list-unstyled">
                <% @post.uploads.each do |upload| %>
                <li>
                  <%= cl_image_tag upload.photo, class: "img-responsive" %>
                  <p>Description : <%= upload.description %></p>
                  <% if policy(upload).destroy? %>
                    <%= link_to "supprimer la photo", post_upload_path(post_id: @post.id, id: upload.id),
                      data: { confirm: 'Are you sure?' }, method: :delete, class: "btn btn-primary" %>
                  <% end %>
                </li>
                <% end %>
              </ul>
            </div>
              <%= javascript_tag do %>
                  $(document).ready(function() {
                  alert('<%= j @alert_message %>');
                                                  });
              <% end %>
        </div>
    </div>
  </div>
  </div>
</div>
