<div id="show-post">
  <div class="container-fluid container-post">
    <div class="row">
      <div class="col-xs-12">
        <%= cl_image_tag @post.cover, :height => 200, :crop => :fill, class: "img-post-header", overlay: "logo-mini-s", effect: "mask", opacity: "50" %>
        <div class="cover-filter"></div>

        <div class="article">
         <div class="tags"> <%= @post.category %></div>
         <h1 class="article-headline"><%= @post.title %></h1>
         <p class="article-meta">Posté le <%= @post.created_at.strftime("%b %d, %Y") %> par <strong> <%= @post.user.first_name %> <%= @post.user.last_name %> </strong> | Rédaction de <strong> <%= @post.city %> </strong> </p>

         <div class="container-fluid synopsis">
          <h2>
            Synopsis
          </h2>
          <p class="article-excerpt">
            <%= @post.synopsis %>
          </p>
        </div>

        <div class="container-fluid extra-info">
          <h2>Informations relatives</h2>
           <div class="col-lg-6 col-md-6 col-xs-12">
              <p><strong>Nombre de caractères</strong> (espaces compris) : <%= @post.content.length %></p>
              <p><strong>Licence de droit</strong> : <%= @post.licence %></p>
          </div>
            <div class="col-lg-6 col-md-6 col-xs-12 text-right">
          <h4 class="label label-danger">Prix : <%= @post.price %> €</h4>
            </div>
        </div>

        <div class="text-center buttons-view-post">
          <% if @post.user == current_user %>
            <%= link_to "Modifier l'article", edit_post_path(@post), class: "btn btn-success btn-md" %>
          <% else %>
            <%= link_to "Acheter l'article", edit_post_path(@post), class: "btn btn-success btn-md" %>
          <% end %>

          <%= link_to "Voir tous les articles", posts_path, class: "btn btn-default btn-md" %>
        </div>

        <p><%= markdown @post.content %></p>

        <div class="col-md-12">
          <h2>Les photos associées</h2>

          <% if @post.user == current_user %>
          <%= link_to "Add photo", new_post_upload_path(@post), class: "btn btn-default" %>
          <% end %>


          <ul class="list-unstyled">
            <% @post.uploads.each do |upload| %>
            <li>
              <%= cl_image_tag upload.photo, overlay: "logo-mini-s", effect: "mask", opacity: "50", class: "img-responsive" %>
              <p>Description : <%= upload.description %></p>
              <% if policy(upload).destroy? %>
              <%= link_to "supprimer la photo", post_upload_path(post_id: @post.id, id: upload.id),
              data: { confirm: 'Are you sure?' }, method: :delete, class: "btn btn-primary" %>

              <% end %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
