<div class="container">
  <div class="row">
    <div class= "col-md-8 col-md-offset-2">

      <h1 class="text-center">Postez vos médias</h1>
      <%= simple_form_for [@post, @upload] do |f| %>
        <%= f.error_notification %>
        <%= f.input :photo, label: "Téléchargez vos photos" %>
         <%= cl_image_tag @upload.photo, transformation: :thumbnail  %>
        <%= f.input :description, label: "Description", placeholder: "Décrivez la raison d'être de cette photo" %>
        <%= f.submit "Télécharger", class: "btn btn-primary" %>
      <% end %>
      <h4 class="text-center">
        <%= link_to '< Retour', :back %>
      </h4>

    </div>
  </div>
</div>
